body {
    margin: 0;
    padding: 20px;
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    width: 200px;
    height: 300px;
    border: 4px solid black;
}

.side {
    background-color: #ff9900;
    flex: 0 0 50px;
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.box {
    flex: 1;
    background-color: #2c5aa0;
    border: 3px solid white;
    right: 10px;
}


/* Center positioning */

.box:nth-child(3) .child-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Bottom-right positioning */

.box:nth-child(2) .child-button {
    bottom: 10px;
    left: 10px;
}