/* Page layout */

body {
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border: 4px solid #222;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.top {
    background-color: #ff9900;
    height: 50px;
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.box {
    flex: 1;
    background-color: #2c5f7f;
    border: 3px solid white;
}

.bottom {
    background-color: #ff9900;
    height: 50px;
}