body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    align-self: center;
    justify-content: center;
}

.container {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    color: #e67e22;
    margin-bottom: 30px;
}

h2 {
    color: #34495e;
    margin: 30px 0 20px 0;
}

.section {
    margin-bottom: 50px;
}


/* Case 1: Using Flexbox */

.case1-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.case1-row {
    width: 200px;
    height: 200px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case1-column {
    width: 200px;
    height: 200px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Group wrapper with orange border */

.case1-row .group {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 200px;
    height: 200px;
    border: 6px solid #e67e22;
}

.case1-column .group {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 200px;
    height: 200px;
    border: 6px solid #e67e22;
}

.case1-row .box,
.case1-column .box {
    width: 60px;
    height: 60px;
    background-color: #0066cc;
    border: 2px solid #333;
}

.case2-container {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.case2-row {
    width: 200px;
    height: 200px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 20px;
}

.case2-column .group {
    display: flex;
    position: absolute;
    width: 140px;
    height: 200px;
    left: 2px;
    position: absolute;
}

.case2-row .box1,
.case2-column .box1 {
    width: 132px;
    height: 60px;
    background-color: #0066cc;
    border: 2px solid orange;
    margin: 1px;
    flex-direction: column;
    position: absolute;
}

.section {
    margin-bottom: 50px;
}

.case2-column {
    width: 200px;
    height: 200px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 20px;
}

.case2-column .group .box2-row {
    width: 60px;
    height: 98px;
    background-color: #0066cc;
    border: 2px solid orange;
    margin: 1px;
    flex-direction: row;
    position: absolute;
}

.case2-column .group1 {
    display: flex;
    position: absolute;
    width: 60px;
    height: 200px;
}