input {
    padding: 6px 8px;
    border: 2px solid #111;
    border-radius: 10px;
    width: 500px;
    display: inline-block;
    vertical-align: middle;
}

label {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 12px;
    vertical-align: middle;
}

.container {
    color: red;
    position: relative;
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    width: 100%;
    padding: 40px;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
}

.gap-betweenrows {
    margin-bottom: 15px;
}

.banner {
    background-image: url("project3.jpg");
    padding: 10px;
    border-radius: 10px;
    border: 2px solid green;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #e0f7fa, #fff7e6);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

h1 {
    color: magenta;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

select {
    padding: 6px 8px;
    border: 2px solid #111;
    border-radius: 10px;
    width: 520px;
    vertical-align: middle;
}

button {
    background-color: limegreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
}

.button-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button-row {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.button-right {
    justify-content: flex-start;
}

.signup {
    margin-right: 410px;
}